body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
}

#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: url('assets/background.jpg');
    background-size: cover;
}

#balance-drawer {
    position: fixed;
    top: 10px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

canvas {
    border: 2px solid white;
}

#login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

#loginForm {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
}

#loginForm input, #loginForm button {
    margin: 10px 0;
    padding: 10px;
}
